@using System.Text.Encodings.Web;
@inject HtmlEncoder encoder
@{
    var inseguro = "<img src='https://t3.ftcdn.net/jpg/05/56/29/10/360_F_556291020_q2ieMiOCKYbtoLITrnt7qcSL1LJYyWrU.jpg' />";
    var encoded = encoder.Encode(inseguro);
}

<br />
<br />
<h3>Não renderiza HTML diretamente</h3>
@inseguro

<br />
<br />
<h3>Exibição crua usando Html.Raw</h3>
@Html.Raw(inseguro)

<br />
<br />
<h3>Informação codificada</h3>
@encoded

<br />
<br />
<h3>Exibição crua da informação codificada</h3>
@Html.Raw(encoded)

<br />
<br />
Olá!